/*MODAL IMAGES TO ENTER*/

body{
    /* font-family: "Comic Sans MS"; */
    font-family: 'Lora medium';
    font-size: 16px;
    background-color: rgba(0,0,0,0.1);
}
.navbar-nav{
    font-size: medium;
    color:black;
}
.navbar{
    border-bottom: 2px solid white;
}

/* set partcles.js to background */
#particles-js {
    /* to set bubbles on whole page use fixed */
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

}
.container1{
    background-color:#4682b4;
    text-decoration-color: white;
    border: white ;
}
.jumbotron{
    background-color: rgba(0,0,0,0.1);
}

.neon {
    position: relative;
    overflow: hidden;
    background-color: #000000;
    padding-top: 20px;
    filter: brightness(200%);
    text-align: center;
}

.text {
    background-color: black;
    color: white;
    font-size:85px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    border-top: 6px solid lawngreen;
    border-bottom: 6px solid lawngreen;

}
@media only screen and (max-width: 600px){
    span.text{
        font-size: 50px;
    }

}

@media only screen and (max-width: 810px){
    .logo{
        display: none;
    }
}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, red, gold, lightgreen, gold, red);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img{
	width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 0px;
	transition: all 1s;
    /* box-shadow: 2px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img:hover{
	/* transform: scale(1.1); */
	cursor: pointer;
}
.close:focus{
    outline: none;
}
footer{
	text-align: center;
	font-weight: 700;
	color: #000000;
	box-sizing: 3em;
	background-color: #87cefa;
}

.card{
    /* box-shadow: 9px 12px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal{
    background-color: rgba(0,0,0,0.5);
}

.modal-body{
    position: relative;
    overflow-y: auto;
    height:600px;
    width: 600px;
    background-color: #000000;
}
@media only screen and (max-width: 650px){
    div.modal-body{
        height:auto;
        width: auto;
        justify-content: center;
    }
    .modal{
        background-color: rgba(0,0,0,0.5);
    }
}
@media (max-width: 767px) {
	.modal-fullscreen-xs-down {
		padding: 0 !important;
	}

	.modal-fullscreen-xs-down .modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.modal-fullscreen-xs-down .modal-content {
		height: auto;
		min-height: 100%;
		border: 0 none;
		border-radius: 0;
		box-shadow: none;
	}
}
