<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    ANIMEART
  </title>
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="css/custom.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container1">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" class="navbar-right" id="header">
          <li>
            <a href="#"><i class="fas fa-paint-brush"></i></a>
          </li>
          <li>
            <a href="#bottom">About</a>
          </li>
          <li>
            <a href="#bottom">Contacts</a>
          </li>
          <li class="active">
            <a href="#">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="neon">
    <span class="text" data-text="vcraveart">vcraveart</span>
    <span class="gradient"></span>
    <span class="spotlight"></span>
  </div>
<!-- for dynamic data use templating -->
  <div class="container">
    <%if(photolist.length){%>
    <div class="row">
      <%for(var i=0; i < photolist.length; i++){%>
      <div class="col-md-4">
        <p class="Val" style="font-size: medium; font-weight: bold;color: black; text-transform: uppercase; font-style: Georgia;"><%=photolist[i].title%></p>
        <%var path=photolist[i].path%>
        <img src="<%=path%>" class="responsive-img">
        <p class="Val"style="color: white">Type:<%=photolist[i].category%></p>
        <p class="Val" style="color: white"><%=photolist[i].caption%></p>
      </div>
      <%if (((i+1) % 3) == 0 ) {%>
    </div>
    <div class="row">
      <%}}}%>
    </div>
  </div>

    <section id="bottom">
      <!-- Footer -->
      <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase " style="font-weight: 900">ABOUT ME</h5>
              <p>
                Just me myself exploring the universe. I want to share my small world with you. 
                Tried to put them in this template form with the assistance of my friend <a href="https://github.com/coder-1234"><span style="font-family: lobster;">HITARTH</span></a>.
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

              <!-- Content -->
              <h5 class="text-uppercase " style="font-weight: 900">CONTACT ME</h5>
              
                <p>
                  <div>
                    <a href="mailto:riyasethi941@gmail.com">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                      </span>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                    </a>
                    <a href=" ">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                      </span>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                    </a>
                     
                    <a href="https://www.instagram.com/craving_for_art/?hl=en">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                      </span>
                      &nbsp;
                      &nbsp;
                    </a>
                  </div>
                </p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="copy" style="background-color: #4682b4; height: 3em;">&copy;
          2020 Copyright:VCRAVEART</div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </section>
</body>

</html>