<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    VCRAVEART
  </title>

  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="css/custom.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
</head>

<body>
  <nav class="navbar navbar-inverse mb-0 navbar-fixed-top" role="navigation ">
   
        
    <div class="container-fluid container1">
     
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="#"><i class="fas fa-paint-brush"></i>VCRAVEART</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a></li>
          <li><a href="#bottom"><i class="fa fa-user"
            aria-hidden="true"></i> About</a></li>
          <li><a href="#bottom"><i class="fa fa-address-book"
            aria-hidden="true"></i> Contact</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://riya-sethi.herokuapp.com/Webpage-Resume-master/index.html"><span style="color: black;"><strong>RIYA SETHI</strong> </span> </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="jumbotron mb-0" >
   
        <div class="neon d-flex">
          <h1 class="display-1" style="font-size: 85px;">
          <span class="text" data-text="vcraveart">vcraveart</span>
          <span class="gradient"></span>
          <span class="spotlight"></span>
         </h1>
    </div>
    
  </div>
  
  <!-- for dynamic data use templating -->

  <div class="container" style="margin-bottom: 10px;margin-top: 10px;">
    <%if(photolist.length){%>
    <div class="row">
      <%for(var i=0; i < photolist.length; i++){%>
      <div class="col-12 col-md-4">
        <div class="card d-flex justify-content-center"
          style="margin-bottom:10px;border-radius: 10px;background-color: white;width: auto;height: 450px;">
          <%var path=photolist[i].path%>
          <img src="<%=path%>" class="card-img-top img-fluid" alt="...">
          <div class="card-body" style="padding: 10px;">
            <h3 class="card-title"><%=photolist[i].title%></h3>
            <h5 class="card-title">Category : <span
                style="display:inline; color: blue;"><%=photolist[i].category%></span>
            </h5>
            <h5 class="card-title">
              <Caption>Caption : </Caption><span style="display:inline; color: blue;"><%=photolist[i].caption%></span>
            </h5>
          </div>
        </div>
      </div>
      <%}%>
        </div>
      <%}%>
      <div id="particles-js"></div>
    </div>

    <section id="bottom">
      <!-- Footer -->
      <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase " style="font-weight: 900">ABOUT ME</h5>
              <p>
                Just exploring and collaborating the learnings. Here, I want to present my small world with you all.
                Tried to put them in this template form with the assistance of my friend <a
                  href="https://github.com/coder-1234"><span style="font-family: lobster;">HITARTH</span></a>.
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

              <!-- Content -->
              <h5 class="text-uppercase " style="font-weight: 900">CONTACT ME</h5>

              <p>
                <div>
                  <a href="mailto:riyasethi941@gmail.com">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                  </a>
                  <a href=" ">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                  </a>

                  <a href="https://www.instagram.com/craving_for_art/?hl=en">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                  </a>
                </div>
              </p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="copy" style="background-color: #4682b4; height: 3em;">&copy;
          2020 Copyright:VCRAVEART</div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="../particles.js"></script>
</body>

</html>